:root {
  --azul-principal: #2563eb;
  --azul-escuro: #1e3a8a;
  --laranja: #f97316;
  --laranja-claro: #fdba74;
  --branco: #ffffff;
  --cinza-fundo: #f1f5f9;
  --cinza-texto: #64748b;
  --preto-azul-texto: #0f172a;
}